<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{note.title}}</mat-card-title>
    </mat-card-header>

    @if (note && note.photos.length > 0) {
    <img mat-card-image [src]="note.photos[0].s3Key" alt="Photo for note">
    }
    @else {
    <img mat-card-image [src]="'./assets/shiba2.jpg'" alt="Photo of a Shiba Inu">
    }

    <mat-card-content>
        <p>
            {{note.description}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Ok</button>
    </mat-card-actions>
</mat-card>